--extra-index-url https://download.pytorch.org/whl/cpu
# Use +cpu only on Linux
torch==2.10.0+cpu ; sys_platform == 'linux' or sys_platform == 'win32'
# Use standard version on macOS (darwin)
torch==2.10.0 ; sys_platform == 'darwin'

pandas<3.0
matplotlib
ipywidgets
git+https://github.com/SAP-samples/sap-rpt-1-oss.git